.chat-panel {
    background-color: $color-neutral-0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(101%);
    transition: transform 0.35s ease-in-out;
    width: 100%;
}

@media screen and (min-width: $min-width-768) {
    .chat-panel {
        width: 19rem;
    }
}

@media screen and (min-width: $min-width-1280) {
    .chat-panel {
        width: 22.5rem;
    }
}

.chat-panel__messages {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    position: relative;
}

.chat-panel__message-form {
    bottom: 0;
    box-shadow: $shadow-footer;
    box-sizing: border-box;
    display: flex;
    padding: $spacing-sm 0 $spacing-sm $spacing-sm;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
}

.chat-panel__message-form .text-input {
    margin-left: auto;
    width: 100%;
}

.chat-panel__message-form .text-input__text {
    width: 100%;
}

.chat-panel__message-form .button {
    padding: 0 $spacing-sm;
}
