.choose-form {
    align-items: center;
    background-color: $color-neutral-50;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.choose-form__create-session,
.choose-form__join-session {
    box-shadow: $shadow-primary;
    margin: 2.5rem;
}

@media screen and (orientation: landscape) {
    .choose-form {
        flex-direction: row;
    }
}
