.create-session-form {
    box-sizing: border-box;
    height: 36.25rem;
    margin: 0 auto;
    padding: $spacing-md;
    width: 22.5rem;
}

.create-session-form__heading {
    margin: $spacing-sm 0 $spacing-xlg;
}

.create-session-form__text-input {
    margin: $spacing-md 0;
}

.create-session-form__fieldset {
    border: none;
    margin: $spacing-xlg 0;
    padding: 0;
}

.create-session-form__radio-input {
    margin-left: $spacing-sm;
    margin-top: $spacing-sm;
    padding: $spacing-xsm;
}

.create-session-form__radio-input:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 48rem) {
    .create-session-form {
        background-color: $color-neutral-0;
        box-shadow: $shadow-form;
    }
}
