.footer {
    align-items: center;
    background-color: $color-neutral-0;
    box-sizing: border-box;
    bottom: 0;
    box-shadow: $shadow-footer;
    display: flex;
    height: 64px;
    justify-content: center;
    padding: 0 $spacing-md;
    position: fixed;

    /* Ensure this fixed element remains centered on screens wider than its max-width */
    left: 50%;
    transform: translateX(-50%);

    /* Span the screen width until a certain point */
    width: 100%;
    max-width: 1024px;
}

.footer__content {
    display: flex;
    flex-direction: reverse;
}

/* If there is a CTA sibling, hide it visibly (but keep it visible to screen readers) */
.footer__cta + .footer__status-text {
    opacity: 0;
    position: absolute;
    width: 0;
}

/* Actions */

.footer--actions .footer__content {
    opacity: 0;
    position: absolute;
    width: 0;
}

.footer--actions .footer__actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .footer--actions {
        justify-content: space-between;
    }

    .footer--actions .footer__content {
        opacity: 1;
        position: static;
        width: auto;
    }

    .footer--actions .footer__actions {
        display: flex;
        justify-content: end;
        width: auto;
    }
}
