.footer {
    align-items: center;
    background-color: $color-neutral-0;
    box-sizing: border-box;
    bottom: 0;
    box-shadow: $shadow-footer;
    display: flex;
    height: 4rem;
    justify-content: center;
    padding: 0 $spacing-md;
    position: fixed;

    /* Ensure this fixed element remains centered on screens wider than its max-width */
    left: 50%;
    transform: translateX(-50%);

    /* Span the screen width until a certain point */
    width: 100%;
    max-width: 64rem;
}

.fixed-in-footer {
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.fixed-in-footer--center {
    left: 50%;
    transform: translateX(-50%);
}

.fixed-in-footer--left {
    left: $spacing-sm;
}

@media screen and (min-width: 64rem) {
    .fixed-in-footer--left {
        left: calc((100vw - 64rem) / 2 + $spacing-sm);
    }
}

.fixed-in-footer--right {
    right: $spacing-sm;
}

@media screen and (min-width: 64rem) {
    .fixed-in-footer--right {
        right: calc((100vw - 64rem) / 2 + $spacing-sm);
    }
}
