.header {
    background-color: $color-blue-800;
    box-shadow: $shadow-header;
    box-sizing: border-box;
    font-weight: 400;
    height: 4rem;
    left: 0;
    padding: 0 $spacing-xsm;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.header__content {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 64rem;
    margin: 0 auto;
}

.header__heading {
    color: $color-neutral-0;
    flex: 1;
    font-weight: 400;
}
