.join-session-form {
    box-sizing: border-box;
    height: 22.5rem;
    margin: 0 auto;
    padding: $spacing-md;
    width: 22.5rem;
}

.join-session-form__heading {
    margin: $spacing-sm 0 $spacing-xlg;
}

.join-session-form__text-input {
    margin: $spacing-md 0;
}

.join-session-form__submit-button {
    margin-top: $spacing-md;
}

@media screen and (min-width: 48rem) {
    .join-session-form {
        background-color: $color-neutral-0;
        box-shadow: $shadow-form;
    }
}
