.menu {
    background-color: $color-neutral-0;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    position: relative;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.6, 1);
    width: 100%;
}

.menu--open {
    border-bottom: 0.125rem solid $color-blue-800;
    height: 14.5rem;
    padding-bottom: $spacing-sm;
    padding-top: $spacing-sm;
}

.menu__heading {
    margin: $spacing-md 0 $spacing-sm;
}

.menu__switch,
.menu__action {
    margin-bottom: $spacing-sm;
}

.menu__action {
    color: $color-blue-800;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* Override element defaults */
    background-color: transparent;
    border: none;
    padding: 0;
}

.menu__action-text {
    text-shadow: $shadow-button-secondary;
}

.menu__action-icon {
    filter: drop-shadow($shadow-button-secondary);
}

@media screen and (min-width: 35.5rem) {
    .menu {
        width: 22.5rem;
    }
}
