.participants-list {
    list-style: none;
    margin: 0;
    /* Overflow won't kick in unless it is given a height (like in the context of being a part of the Lobby page) */
    overflow-y: scroll;
    padding: 0;
}

.participant {
    align-items: center;
    border-bottom: 1px solid $color-neutral-200;
    box-sizing: border-box;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    padding: 0 $spacing-md;
}

.participant--me {
    border-left: $spacing-sm solid $color-blue-800;
    padding-left: $spacing-sm;
}

.participant--outlier {
    border-right: $spacing-sm solid $color-neutral-200;
    padding-right: $spacing-sm;
}

.participant__name {
    flex: 1;
}

.participant--owner {
    text-decoration: underline;
}

.participant__state {
    margin-right: $spacing-sm;
}

.participant__state--busy {
    color: $color-neutral-900;
}

.participant__state--done {
    color: $color-green-700;
}

.participant__state--disconnected {
    color: $color-neutral-200;
}

.participant__action {
    color: $color-blue-800;
    cursor: pointer;

    /* Override button defaults */
    background-color: transparent;
    border: none;
    line-height: 1;
    padding: 0;
}

.participant__action .icon {
    filter: drop-shadow($shadow-button-primary);
}

.participant__action:not(:active):hover .icon {
    filter: drop-shadow($shadow-button-tertiary);
}

.participant__score {
    color: $color-blue-800;
}
