/* Defaults */
.button {
    align-items: center;
    border: none;
    border-radius: 0.125rem;
    background-color: $color-blue-800;
    color: $color-neutral-0;
    cursor: pointer;
    display: inline-flex;
    height: 3rem;
    padding: 0 $spacing-md;
    justify-content: center;
}

.button:disabled,
.button--secondary:disabled {
    background-color: $color-neutral-100;
    color: $color-neutral-700;
    cursor: default;
}

.button:not(:disabled):hover {
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
    );
}

.button:not(:disabled):active {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.05)
    );
}

.button__text {
    margin-left: $spacing-xsm;
}

.button:not(:disabled) > .button__icon {
    filter: drop-shadow($shadow-button-primary);
}

.button:not(:disabled) > .button__text {
    text-shadow: $shadow-button-primary;
}

/* Header */
@media screen and (min-width: $min-width-768) {
    .button--header {
        height: 2.5rem;
    }

    .button--header .button__icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media screen and (max-width: $max-width-768) {
    .button--header {
        border-radius: 50%;
        padding: $spacing-sm;
    }

    .button--header .button__text {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
}

/* Secondary */

.button--secondary {
    background-color: $color-neutral-0;
    color: $color-blue-800;
}

.button--secondary:not(:disabled) > .button__icon {
    filter: drop-shadow($shadow-button-secondary);
}

.button--secondary:not(:disabled) > .button__text {
    text-shadow: $shadow-button-secondary;
}

/* Dark */

.button--dark {
    background-color: $color-blue-900;
}

/* Wide */

.button--wide {
    width: 18rem;
}

@media screen and (min-width: $min-width-360) {
    .button--wide {
        width: 20.5rem;
    }
}

/* Round */

.button--round .button__icon {
    margin: 0;
}

/* Square */

.button--square {
    border-radius: 1rem;
    display: inline;
    height: 10rem;
    padding: $spacing-md;
    width: 10rem;
}

.button--square .button__icon {
    display: block;
    margin: 0 auto 0.75rem;
}

.button--square .button__text {
    margin: 0 auto;
}
