.chat-bubble {
    background-color: $color-neutral-100;
    border-radius: 0.5rem;
    box-shadow: 0.0625rem 0.0625rem 0 $shadow-chat-bubble;
    font-size: $font-size-body;
    margin: 0 $spacing-lg $spacing-sm $spacing-md;
    padding: $spacing-sm;
    position: relative; /* Necessary to use position: absolute; in pseudo-elements */
}

.chat-bubble:before {
    border-style: solid;
    border-top: 0 solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $color-neutral-100;
    border-left: 0.5rem solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: -0.5rem;
    position: absolute;
    width: 0;
    z-index: 1;
}

.chat-bubble:after {
    border-bottom: 0.0625rem solid $shadow-chat-bubble;
    border-left: 0.0625rem solid transparent;
    border-right: 0.0625rem solid transparent;
    bottom: -0.0625rem;
    content: '';
    height: 0;
    left: -0.5rem;
    position: absolute;
    width: 1rem;
}

.chat-bubble--self {
    background-color: $color-blue-50;
    margin: 0 $spacing-md $spacing-sm $spacing-lg;
}

.chat-bubble--self:before {
    border-bottom: 0.5rem solid $color-blue-50;
    left: auto;
    right: -0.5rem;
}

.chat-bubble--self:after {
    left: auto;
    right: -0.5625rem;
}

.chat-bubble__participant {
    color: $color-blue-900;
    display: block;
    margin-bottom: $spacing-xsm;
}
