/* There is overlap between the chat-bubble shadow and the triangle's shadow, causing a darker
 * shadow where they overlap. To avoid this we make an exception in this instance, and use a solid
 * colour for the box-shadow. The value below is the solid representation of rgba(0, 0, 0, 0.25)
 */
$chat-bubble-shadow: #bfbfbf;

.chat-bubble {
    background-color: $color-neutral-100;
    border-radius: 8px;
    box-shadow: 1px 1px 0px $chat-bubble-shadow;
    font-size: $font-size-body;
    margin: 0 $spacing-lg $spacing-sm $spacing-md;
    padding: $spacing-sm;
    position: relative; /* Necessary to use position: absolute; in pseudo-elements */
}

.chat-bubble:before {
    border-style: solid;
    border-top: 0px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $color-neutral-100;
    border-left: 8px solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: -8px;
    position: absolute;
    width: 0;
    z-index: 1;
}

.chat-bubble:after {
    border-bottom: 1px solid $chat-bubble-shadow;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    bottom: -1px;
    content: '';
    height: 0px;
    left: -8px;
    position: absolute;
    width: 16px;
}

.chat-bubble--self {
    background-color: $color-blue-50;
    margin: 0 $spacing-md $spacing-sm $spacing-lg;
}

.chat-bubble--self:before {
    border-bottom: 8px solid $color-blue-50;
    left: auto;
    right: -8px;
}

.chat-bubble--self:after {
    left: auto;
    right: -9px;
}

.chat-bubble__participant {
    color: $color-blue-900;
    display: block;
    margin-bottom: $spacing-xsm;
}
