.poker-card {
    cursor: pointer;
    display: block;
}

.poker-card input[type='radio'] {
    /* Hide from visual view, but keep visable to screen-readers */
    opacity: 0;
    position: absolute;
}

.poker-card__card {
    border-radius: 8px;
    box-shadow: $shadow-form;
    box-sizing: border-box;
    display: block;
    height: 148px;
    margin: 0;
    padding: $spacing-sm;
    width: 104px;
}

.poker-card__card:hover {
    background-color: $color-green-100;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.6, 1);
}

.poker-card__labels {
    background-color: transparent;
    border: 1px solid $color-blue-800;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.poker-card__top-left-label,
.poker-card__bottom-right-label {
    /* Ensure siblings take up full width of parent */
    flex: 1;
    font-size: $font-size-body;
    line-height: $font-size-body;
    margin: $spacing-xsm;
}

.poker-card__center-label {
    align-self: center;
    font-size: 3rem;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-9px);
    width: 104px;
}

.poker-card__bottom-right-label {
    align-self: flex-end;
    transform: rotate(180deg);
}

/* Checked state */
.poker-card input[type='radio']:checked + .poker-card__card {
    background-color: $color-green-700;
}

.poker-card
    input[type='radio']:checked
    + .poker-card__card
    .poker-card__labels {
    border-color: $color-green-100;
}

.poker-card
    > input[type='radio']:checked
    + .poker-card__card
    .poker-card__top-left-label,
.poker-card
    > input[type='radio']:checked
    + .poker-card__card
    .poker-card__bottom-right-label,
.poker-card
    > input[type='radio']:checked
    + .poker-card__card
    .poker-card__center-label {
    color: $color-neutral-0;
}

@media screen and (min-width: 768px) {
    .poker-card__card {
        height: 186px;
        padding: 10px;
        width: 128px;
    }

    .poker-card__labels {
        border-width: 2px;
    }

    .poker-card__top-left-label,
    .poker-card__bottom-right-label {
        font-size: $font-size-title;
        line-height: $font-size-title;
    }

    .poker-card__center-label {
        transform: translateX(-12px);
        width: 128px;
    }
}
