.poker-card {
    cursor: pointer;
    display: block;
}

.poker-card__card {
    background-color: $color-neutral-0;
    border-radius: 0.5rem;
    box-shadow: $shadow-form;
    box-sizing: border-box;
    display: block;
    height: 9.25rem;
    margin: 0;
    padding: $spacing-sm;
    width: 6.5rem;
}

.poker-card__card:hover {
    background-color: $color-green-100;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.6, 1);
}

.poker-card__labels {
    background-color: transparent;
    border: 0.0625rem solid $color-blue-800;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    /* Don't leave the position:absolute middle label behind when scrolling */
    position: relative;
}

.poker-card__top-left-label,
.poker-card__bottom-right-label {
    /* Ensure siblings take up full width of parent */
    flex: 1;
    font-size: $font-size-body;
    line-height: $font-size-body;
    margin: $spacing-xsm;
}

.poker-card__center-label {
    align-self: center;
    font-size: $font-size-card-small;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-0.5625rem);
    width: 6.5rem;
}

.poker-card__bottom-right-label {
    align-self: flex-end;
    transform: rotate(180deg);
}

/* Checked state */
.poker-card input[type='radio']:checked + .poker-card__card {
    background-color: $color-green-700;
}

.poker-card
    input[type='radio']:checked
    + .poker-card__card
    .poker-card__labels {
    border-color: $color-green-100;
}

.poker-card
    > input[type='radio']:checked
    + .poker-card__card
    .poker-card__top-left-label,
.poker-card
    > input[type='radio']:checked
    + .poker-card__card
    .poker-card__bottom-right-label,
.poker-card
    > input[type='radio']:checked
    + .poker-card__card
    .poker-card__center-label {
    color: $color-neutral-0;
}

@media screen and (min-width: $min-width-768) {
    .poker-card__card {
        height: 11.625rem;
        padding: 0.625rem;
        width: 8rem;
    }

    .poker-card__labels {
        border-width: 0.125rem;
    }

    .poker-card__top-left-label,
    .poker-card__bottom-right-label {
        font-size: $font-size-title;
        line-height: $font-size-title;
    }

    .poker-card__center-label {
        font-size: $font-size-card-large;
        transform: translateX(-0.75rem);
        width: 8rem;
    }
}
