body {
    background-color: $color-blue-50;
}

.main {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    max-width: 1024px;
    padding: 4rem 0;
    width: 100%;
}

.create-session,
.join-session {
    align-items: center;
    background-color: $color-neutral-50;
    display: flex;
    /* The only '.main's that don't have a footer */
    padding-bottom: 0;
}

.poker-cards {
    display: none;
}

.poker-cards--inert {
    filter: blur(3px);
    pointer-events: none;
    /* Prevent the blur from spilling into neighbour elements */
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .poker-cards {
        align-content: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 8rem);
        justify-content: space-between;
        overflow-y: scroll;
        padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    }
}

@media screen and (min-width: 912px) {
    .poker-cards {
        padding: 1.5rem 2.5rem 1.5rem 2rem;
    }
}

.poker-cards .poker-card {
    margin: 0 1rem 1rem 0;
}

.session-panel {
    background-color: $color-neutral-0;
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .session-panel {
        min-width: 304px;
    }
}

@media screen and (min-width: 834px) {
    .session-panel {
        min-width: 360px;
    }
}

.lobby,
.new-vote {
    border-bottom: 1px solid $color-neutral-200;
    padding: $spacing-md;
}

.lobby__title {
    font-weight: normal;
    margin: $spacing-sm 0;
}

.lobby__description {
    margin: 0 0 $spacing-md;
}

.lobby__id {
    display: flex;
    margin: 0;
}

dl.lobby__id > dd {
    color: $color-blue-800;
}

.lobby__copy-link {
    align-items: center;
    color: $color-blue-800;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-lg;
    width: 100%;

    /* Override element defaults */
    background-color: transparent;
    border: none;
    padding: 0;
}

.lobby__copy-link-text {
    text-shadow: $shadow-button-secondary;
}

.lobby__copy-link-icon {
    filter: drop-shadow($shadow-button-secondary);
}

.lobby__participants-count {
    margin: 0 0 $spacing-xsm;
}

.session-panel .participants-list {
    height: calc(100vh - 8rem);
}

.lobby + .participants-list,
.new-vote + .participants-list {
    height: calc(100vh - 15rem - 8rem);
}

.new-vote__title {
    font-weight: normal;
    margin: $spacing-sm 0 $spacing-lg;
}

.new-vote__participants-description {
    margin: $spacing-xlg 0 0;
}

.new-vote__text-input {
    /* Both of these styles are just to have the .new-vote nad .lobby elements naturally take up the same height */
    display: inline-block; /* Disable margin collapse */
    margin-bottom: $spacing-sm; /* Exceed the max-spacing by adding this to the margin-top of the next element */
}
